.music-banner{
    height: 20vh;
}

.music-banner-img{
    width: 100%;
    height: auto;
}

.music-banner-container{
    position: relative;
    text-align: center;
    color: #ffffff;
}

.music-banner-text{
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
}
