.personal-info{
    background-color: #F8EAD2;
    box-shadow: 5px 5px 7px #351E49;
    font-family: 'Lexend Mega';

}

.greetings-container div {
    line-height: 2rem;
}

.greetings-container p {
    font-size: 0.9rem;
}

.personal-info .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttons-container .row {
    background-color: #351E49;
    border-radius: 14px;
    box-shadow: 3px 3px 3px #351E49;
    height: 60px;
    opacity: 0.8;
    transition: 0.2s;
}

.buttons-container .round{
    border-radius: 99px;
}

.buttons-container .row:hover {
    background-color: #662980;
    box-shadow: 3px 3px 6px #662980;
    opacity: 1;
    height: 65px;
}

.buttons-container img {
    height: 100%;
    transition: 0.2s;
    filter: invert(96%) sepia(2%) saturate(1003%) hue-rotate(315deg) brightness(93%) contrast(92%);
}

.personal-info .picture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.picture-container img {
    width: 100%;
    height: auto;
}

.picture-container a {
    transition: 0.2s;
    box-shadow: 3px 3px 3px #D571B7;
    cursor: pointer;
    font-size: 0.8rem;
}

.picture-container a:hover {
    background-color: #662980!important;
    box-shadow: 3px 3px 6px #662980;
    color: #F8EAD2;
    font-size: 0.9rem;
    text-decoration: none;
}