.navi-item {
    margin: 10px 0; 
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.navi-item a{
    text-decoration: none;
    width: 100%;
    color: #662980;
    box-sizing: border-box;
    display: block;
}

.navi-item a:hover,
.navi-item a:active,
.navi-item a.active {
    color: #F8EAD2;
    text-decoration: none;
}

@media (min-width: 500px){
    .navi-item {
        margin: 0; 
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .navi-item a{
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        transition: 0.4s;
    }
    
    .navi-item a:hover,
    .navi-item a:active,
    .navi-item a.active {
        background-color: rgba(53, 30, 73, 0.6);
        transition: 0.4s;
        border-bottom: 4px solid #662980;
    }

}