.developer-section{
    padding: 0;
    margin: 56px auto;
    max-width: 1028px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.developer-section section{
    width: 100%;
}